<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Facebook-Twitter-Google-Login Website Template | Home :: w3layouts</title>
<link href="css/userRegister.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
</head>
<body>
	<style>
		ul#gender li {
	    display:inline;
	}
	</style>
<div class="wrap"><h1 id="logo">WatchNext</h1>
<!-- strat-contact-form -->	
<div class="contact-form">
<!-- start-form -->
	<form class="contact_form" action="#" method="post" name="contact_form">
		<h1>Give your profile details</h1>
	    <ul>
	        <li>
	            <input type="email" class="textbox1" name="email" placeholder="email" required />
	            <span class="form_hint">Enter a valid email</span>
	             <p><img src="images/contact.png" alt=""></p>
	        </li>
	        <li>
	            <input type="password" name="website" class="textbox2" placeholder="password">
	            <p><img src="images/lock.png" alt=""></p>
	        </li>
	         <li>
	            <input type="confirm_password" name="conf_pass" class="textbox3" placeholder="confirm_password">
	            <p><img src="images/lock.png" alt=""></p>
	        </li>
	         <li>
	        
	        	<input type="text" class="textbox7" name="gender" placeholder="male/female/other" required />
	        	
	        </li>
	         <li>
	            <input type="text" name="phonenumber" class="textbox4" placeholder="phonenumber">
	            
	        </li>
	         
	          <li>
	            <input type="text" class="textbox5" name="occupation" placeholder="occupation" required />
	           
	           
	        </li>
	         <li>
	         	<select class="states" name="states">
			    	<option value="Arunachal Pradesh">Arunachal Pradesh</option>
					<option value="Assam">Assam</option>
					<option value="Bihar">Bihar </option>
					<option value="Chhattisgarh">Chhatisgarh</option>
					<option value="Goa">Goa</option>
					<option value="Gujarat">Gujarat</option>
					<option value="Haryana">Haryana </option>
					<option value="Himachal Pradesh">Himachal Pradesh</option>  
					<option value="Jammu and Kashmir">Jammu and Kashmir</option>
					<option value="Jharkhand">Jharkhand</option>
					<option value="Karnataka">Karnatak</option>
					<option value="Kerala">Kerala</option>
					<option value="Madhya Pradesh">Madhya Pradesh</option>
					<option value="Maharashtra">Maharashtra </option>
					<option value="Manipur">Manipur </option>
					<option value="Meghalaya">Meghalaya </option>
					<option value="Mizoram">Mizoram </option>
					<option value="Nagaland">Nagaland</option>
					<option value="Odisha">Odisha</option>
					<option value="Punjab">Punjab </option>
					<option value="Rajasthan">Rajasthan</option>
					<option value="Sikkim">Sikkim </option>
					<option value="Tamil Nadu">Tamil Nadu </option>
					<option value="Tripura">Tripura </option>
					<option value="Uttar Pradesh">Uttar Pradesh</option> 
					<option value="Uttarakhand">Uttarakhand </option>
					<option value="West Bengal">West Bengal</option>
			    </select>
  			 </li>
	        
	         
	           
	       
	        
         </ul>
       	 	<input type="submit" name="Submit" value="Submit"/>
		
		<div class="clear"></div>	
	</form>
<!-- end-form -->
<!-- start-account -->
<div class="account">
	<h1><center>Or</center></h1>
    <div class="span"><a href="#"><img src="images/facebook.png" alt=""/><i>Sign Up with Facebook</i><div class="clear"></div></a></div>	
    <div class="span1"><a href="#"><img src="images/twitter.png" alt=""/><i>Sign Up with Twitter</i><div class="clear"></div></a></div>
    <div class="span2"><a href="#"><img src="images/gplus.png" alt=""/><i>Sign Up with Google+</i><div class="clear"></div></a></div>
</div>	
<!-- end-account -->

<div class="clear"></div>	
</div>
<!-- end-contact-form -->

</div>
</body>
</html>