<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Free CSS template by ChocoTemplates.com</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<![endif]-->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<!--<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>-->
	<script type="text/javascript" src="js/jquery-func.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
<!-- Shell -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WatchNext</a>
    </div>

    
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Get in Touch</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movie4U <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">SocialTrending</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">OnlyYours</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="shell">
	<!-- Main -->
	<div id="main">
		<!-- Content -->
		<div id="content" class="container-fluid">

			<!-- Box -->
			<div class="box">
				<div class="head">
					<span>Top Rated</span>
					<p class="text-right"><a href="#">See all</a></p>
				</div>

				<!-- Movie -->
				<div class="movie">
					
					<div class="movie-image">
						<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
								    <!--<legend>Please rate:</legend>-->
								    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
								    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
								    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
								    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
								    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
								</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>

						<a href="#"><span class="play"><span class="name">X-MAN</span></span><img src="css/images/movie1.jpg" alt="movie" /></a>
					</div>
						
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
											<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
								    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
								    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
								    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
								    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
								    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
								</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>

						<a href="#"><span class="play"><span class="name">SPIDER MAN 2</span></span><img src="css/images/movie2.jpg" alt="movie" /></a>
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
											<div class="rating">
					<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
								    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
								    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
								    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
								    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
								    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
								</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>

						<a href="#"><span class="play"><span class="name">SPIDER MAN 3</span></span><img src="css/images/movie3.jpg" alt="movie" /></a>
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
											<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>

						<a href="#"><span class="play"><span class="name">VALKYRIE</span></span><img src="css/images/movie4.jpg" alt="movie" /></a>
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
											<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>

						<a href="#"><span class="play"><span class="name">GLADIATOR</span></span><img src="css/images/movie5.jpg" alt="movie" /></a>
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie last">
					<div class="movie-image">
											<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
								    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
								    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
								    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
								    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
								    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
								</fieldset>
								<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>

						<a href="#"><span class="play"><span class="name">ICE AGE</span></span><img src="css/images/movie6.jpg" alt="movie" /></a>
					</div>
				</div>
				<!-- end Movie -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end Box -->
			
			<!-- Box -->
			<div class="box">
				<div class="head">
					<span>Social Trending</span>
					<p class="text-right"><a href="#">See all</a></p>
				</div>

				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
						<a href="#"><span class="play"><span class="name">TRANSFORMERS</span></span><img src="css/images/movie7.jpg" alt="movie" /></a>
					</div>	
					<div class="rating">
					<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
						<a href="#"><span class="play"><span class="name">MAGNETO</span></span><img src="css/images/movie8.jpg" alt="movie" /></a>
					</div>
					<div class="rating">
					<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
						<a href="#"><span class="play"><span class="name">KUNG FU PANDA</span></span><img src="css/images/movie9.jpg" alt="movie" /></a>
					</div>	
					<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
						<a href="#"><span class="play"><span class="name">EAGLE EYE</span></span><img src="css/images/movie10.jpg" alt="movie" /></a>
					</div>
					<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie">
					<div class="movie-image">
						<a href="#"><span class="play"><span class="name">NARNIA</span></span><img src="css/images/movie11.jpg" alt="movie" /></a>
					</div>
					<div class="rating">
					<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>
				</div>
				<!-- end Movie -->
				
				<!-- Movie -->
				<div class="movie last">
					<div class="movie-image">
						<a href="#"><span class="play"><span class="name">ANGELS &amp; DEMONS</span></span><img src="css/images/movie12.jpg" alt="movie" /></a>
					</div>	
					<div class="rating">
						<div class="stars-1">
							<div class="stars-in-1">
								<!--EXPERIMENT-->
								<fieldset class="rating1">
								    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
								    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
								    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
								    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
								    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
								</fieldset>
								<!--EXPERIMENT ENDS-->
							</div>
						</div>
					
					</div>
				</div>
				<!-- end Movie -->
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end Box -->
			
			<!-- Box -->
			
		
			<!-- end Box -->
			
		</div>
		<!-- end Content -->

		<!-- NEWS -->
		<!--<div id="news">
			<div class="head">
				<h3>NEWS</h3>
				<p class="text-right"><a href="#">See all</a></p>
			</div>
			
			<div class="content">
				<p class="date">12.04.09</p>
				<h4>Disney's A Christmas Carol</h4>
				<p>&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning filmmaker Robert Zemeckis, captures... </p>
				<a href="#">Read more</a>
			</div>
			<div class="content">
				<p class="date">11.04.09</p>
				<h4>Where the Wild Things Are</h4>
				<p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of the most beloved books of all time to the big screen in &quot;Where the Wild Things Are,&quot;...</p>
				<a href="#">Read more</a>
			</div>
			<div class="content">
				<p class="date">10.04.09</p>
				<h4>The Box</h4>
				<p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing fatal and irrevocable consequences.</p>
				<a href="#">Read more</a>
			</div>
		</div>
		<!-- end NEWS -->
		
		<!-- Coming
		<div id="coming">
			<div class="head">
				<h3>COMING SOON<strong>!</strong></h3>
				<p class="text-right"><a href="#">See all</a></p>
			</div>
			<div class="content">
				<h4>The Princess and the Frog </h4>
					<a href="#"><img src="css/images/coming-soon1.jpg" alt="coming soon" /></a>
				<p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
				<a href="#">Read more</a>
			</div>
			<div class="cl">&nbsp;</div>
			<div class="content">
				<h4>The Princess and the Frog </h4>
					<a href="#"><img src="css/images/coming-soon2.jpg" alt="coming soon" /></a>
				<p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
				<a href="#">Read more</a>
			</div>
			
		</div>-->
		<!-- end Coming -->
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end Main -->
</div>
<!-- end Shell -->
<!-- Footer -->
	<div id="footer" class="footer">
		<span>Made with &hearts; by Students of Dept of CSE</span>
	</div>
	<!-- end Footer -->
</body>
</html>