<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Digital Team HTML5 Layout - Tooplate</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/et-line-font.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

 <title>Welcome to WATCHNEXT</title>	
	
</head>

<body>
<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
					<h2>RECOMMENDATION SYSTEMS USING SOCIAL NETWORK ANALYSIS</h2>
					<hr>
				<h2>WATCHNEXT</h2>
				<hr>
				<a href="#" class="smoothScroll btn btn-danger">Enter Recomendation System</a>
			
			</div>
		</div>
	</div>		
</section>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/nivo-lightbox.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>